.Main-chat
  .Main-chat__group-info
    .Main-chat__group-info__left
      %p.group-name test
      %p.group-member Member:name
    .Main-chat__edit-btn
      = link_to "Edit"

  .Main__message-list

  .Main__message-form
