.Side-bar
  .Side-bar__user-name
    .Side-bar__top-items
      %p.Side-bar__top-items__name
        = current_user.name
      %ul.Side-bar__top-items__icn
        %li.Side-bar__top-items__icn__edit
          = link_to new_group_path do
            %i.far.fa-edit
        %li.Side-bar__top-items__icn_set
          =link_to edit_user_path(current_user) do
            %i.fas.fa-cog
  .Side__group-lists
    - current_user.groups.each do |group|
      .Side__group-lists__list
        = link_to '#' do
          .Side__group-lists__list__name
            = group.name
          .Side__group-lists__list__message メッセージはまだありません
