.Side-bar
  .Side-bar__user-name
    .Side-bar__top-items
      %p.Side-bar__top-items__name masa
      %ul.Side-bar__top-items__icn
        %li.Side-bar__top-items__icn__edit
          = link_to "#" do
            %i.far.fa-edit
        %li.Side-bar__top-items__icn_set
          =link_to "#" do
            %i.fas.fa-cog
  .Side__group-lists
    .Side__group-lists__list
      %p.Side__group-lists__list__name techcamp
      %p.Side__group-lists__list__message まだメッセージがありません
    .Side__group-lists__list
      %p.Side__group-lists__list__name techcamp
      %p.Side__group-lists__list__message まだメッセージがありません